{{!--{{outlet}}--}}

<style>
  .ember-webcam-viewer {
    min-height: 500px;
  }
</style>


<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-100">
    {{#paper-card as |card|}}
      {{!--{{card.image src=dataUri alt="Washed Out" title="Washed Out"}}--}}

      {{#ember-webcam
        didSnap=(action 'didSnap')
        didFreeze=(action 'didFreeze')
        didUnfreeze=(action 'didUnfreeze')
        didError=(action 'didError') as |camera|}}

        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}New Capture{{/text.headline}}
          {{/title.text}}
        {{/card.title}}

        {{#card.actions class="layout-row layout-align-start-center" as |actions|}}
          {{#actions.icons}}
            {{#paper-button iconButton=true}}{{paper-icon 'favorite'}}{{/paper-button}}
            {{#paper-button iconButton=true}}{{paper-icon 'share'}}{{/paper-button}}
            {{#paper-button iconButton=true}}{{paper-icon 'photo'}}{{/paper-button}}
          {{/actions.icons}}
          {{#unless isFrozen}}{{#paper-button onClick=camera.freeze}}Take Snapshot{{/paper-button}}{{/unless}}
          {{#if isFrozen}}
            {{#paper-button onClick=camera.unfreeze}}Redo{{/paper-button}}
            {{#paper-button onClick=camera.snap}}Save{{/paper-button}}
          {{/if}}
        {{/card.actions}}

      {{/ember-webcam}}

      {{#card.content}}
        <p>
          Record a moment in time.
        </p>
      {{/card.content}}
    {{/paper-card}}
  </div>
</div>