> LIST
{{outlet}}

{{#unless model.captures}}
  <div class="layout-row layout-align-center-center">
    {{#paper-card as |card|}}
      {{card.image src="http://www.fillmurray.com/800/300"
                   alt="fillmurray placeholder"
                   title="fillmurray placeholder"}}

      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}No Captures Available{{/text.headline}}
        {{!--{{#text.subhead}}I can see you're new around here, so let me help you{{/text.subhead}}--}}
        {{/title.text}}
      {{/card.title}}

      {{#card.content}}
        <p>
          There are no captures available at the moment. Speaking of moments, why not
          {{link-to 'create one now' 'capture.index.now'}}?
        </p>
      {{/card.content}}

      {{#card.actions}}
        {{#paper-button onClick=(action (transition-to 'capture.index.now'))}}
          + Create Moment{{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  </div>
{{/unless}}

<div class="layout-row layout-column-xs">
  {{#each model.captures as |capture|}}
    {{#paper-card as |card|}}
      {{#each capture.images as |img|}}
        {{card.image src=img.data alt=img.name title=img.name}}
      {{/each}}

      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{capture.title}}{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      {{/card.content}}
      {{#card.actions}}
        {{#paper-button}}Action 1{{/paper-button}}
        {{#paper-button}}Action 2{{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/each}}
</div>

{{!--
    {{#paper-content class="md-whiteframe-z1 grid-list-demo1"}}

    {{#paper-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
    md-row-height-gt-md="1:1" md-row-height="2:2"
    md-gutter="12px" md-gutter-gt-sm="8px"}}

      {{#paper-grid-tile class="gray" md-rowspan="3" md-colspan="2" md-colspan-sm="1"}}
        {{#paper-grid-tile-footer}}
            <h3>#1: (3r x 2c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="green"}}
        {{#paper-grid-tile-footer}}
            <h3>#2: (1r x 1c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="yellow"}}
        {{#paper-grid-tile-footer}}
            <h3>#3: (1r x 1c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="blue" md-rowspan="2"}}
        {{#paper-grid-tile-footer}}
            <h3>#4: (2r x 1c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="red" md-rowspan="2" md-colspan="2" md-colspan-sm="1"}}
        {{#paper-grid-tile-footer}}
            <h3>#5: (2r x 2c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="green" md-rowspan="2"}}
        {{#paper-grid-tile-footer}}
            <h3>#6: (2r x 1c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

    {{/paper-grid-list}}

  {{/paper-content}}
    --}}